* {
  font-family: "Special Elite", cursive;
}
.footer {
  background: #0f0f0f3d;
  height: 75px;
  position: relative;
  color: #ffffff;
  overflow: auto;
  text-align: center;
}

.footer > .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #44444486;
  padding: 25px;
  font-weight: 600;
}

.footer > .bottom > img {
  width: 20px;
  position: relative;
  top: 3px;
  left: 2px;
}
